/** {
	text-align: center;
}

h1, p {
	color: blue;
}

p {
	font-style: italic;
	border: 1px solid blue;
	display: inline;
	padding: 5px;
}

section>*/

/* box-sizing: border-box; (used a lot in the star so that everything on the page
will keep the same width*/

/* the width of a child set to 100% will be the full width of the parent
also add the box-sizing: border-box; so if padding or margin added itll keep
the size within the correct width*/

/* Display Property- 
block- default. the whole width of the page.
inline-block- takes the size of the content
inline-  */

/*span is a tag you put in between to style one part of a sentence*/

#secttion_flag {
	width: 500px;
}

.flag {
	width: 100px;
	height: 130px;
	border: 1px solid black;
	display: inline-block;
	/*float: left;*/
}

.blue {
	background-color: blue;
}

.white {
	background-color: white;
}

.red {
	background-color: red;
}