* {
  text-align: center;
  background-color: #ebecf0;
}

h1 {
  color: #49a2e6;
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 60px;
  font-weight: 400;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo {
  background-color: white;
  width: 650px;
  height: 32px;
  text-align: center;
  margin: 1px;
  padding-top: 12px;
  text-align: left;
  padding-left: 20px;
  color: black;
}

.todo:hover {
  text-decoration: line-through;
  cursor: pointer;
}

.input-container {
  text-align: left;
  margin-top: 20px;
}

label{
  color: gray;
  font-size: 12px;
}

input {
  border: none;
  border-bottom: 1px solid gray;
  width: 650px;
  height: 30px;
  font-size: 15px;
  text-align: left;
  padding: 10px 0 5px 0;
}

input:focus {
  outline: none;
  border-bottom: 2px solid #3fb59c;
}
