body{
	text-align: center;
	font-family: 'Cairo', sans-serif;
	background-image: url(photo.jpg);

}

h1{
	color: #F7F7EA;
	font-size: 55px;
	font-weight: lighter;
	margin: 0;
	border-bottom: 1px solid #F7F7EA;
	display: inline;
}

h2{
	color: #F7F7EA;
	font-size: 25px;
	font-weight: lighter;
	margin-bottom: 5px;
	margin-top: 10px;
}

p{
	color: #F7F7EA;
	font-size: 30px;
	font-weight: bold;
	margin-top: 0;
}

select{
	width: 600px;
	height: 30px;
	font-size: 20px;
	background-color: #F7F7EA;
	font-family: 'Cairo', sans-serif;
	font-weight: bold;
}

input{
	height: 25px;
	width: 200px;
	background-color: #F7F7EA;
	font-size: 20px;
	font-family: 'Cairo', sans-serif;
	font-weight: bold;
}

button{
	font-size: 20px;
	background-color: #F7F7EA;
	border: none;
	cursor: pointer;
	padding: 2px 10px;
	border-radius: 2px;
	margin: 0 5px;
}

.main {
	display: inline-block;
	padding: 10px 60px;
	margin: 40px 0;
	border: 1px solid black;
	border-radius: 8px;
	background-color: rgba(0, 0, 0, 0.8);
    text-align: left;
}

#result{
	height: 70px;
}