.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.calc {
  display: flex;
  justify-content: center;
}

.op {
  display: flex;
  flex-direction: column;
  width: 7%;
  height: 350px;
}

.op button {
  flex: 25%;
  font-family: 'Rajdhani', sans-serif;
  font-size: 30px;
  border: none;
  margin: 1px;
  background-color: #a557ff;
  color: white;
}

.numbers {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  height: 350px;
}

.numbers button {
  flex: 1 1 30.333%;
  font-family: 'Rajdhani', sans-serif;
  font-size: 30px;
  border: none;
  margin: 1px;
  background-color: #f3f2f5;
}

.result {
  background-color: black;
  color: white;
  width: 37%;
  margin: 0 auto;
  text-align: right;
  height: 120px;
  border-radius: 8px 8px 0 0;
}

.result p {
  margin: 35px;
  font-size: 40px;
  font-family: 'Rajdhani', sans-serif;
}

h1 {
  text-align: center;
  font-size: 60px;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 50;
  margin: 20px 10px;
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.top i {
  font-size: 35px;
  color: #a557ff;
}

@media only screen and (max-width: 1000px) {
  .op {
    display: flex;
    flex-direction: column;
    width: 18%;
    height: 350px;
  }

  .numbers {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    height: 350px;
  }

  .result {
    background-color: black;
    color: white;
    width: 78%;
    margin: 0 auto;
    text-align: right;
    height: 100px;
  }
}
