.header {
  background-color: white;
  color: black;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header h1 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 50px;
  font-weight: 400;
}

.header p {
  font-size: 20px;
  margin: 0;
}

.header img {
  width: 250px;
}

.header-text {
  margin-right: 100px;
}

.search {
  margin: 30px 20px;
}

.search input {
  font-size: 20px;
  padding: 6px;
  margin: 0;
  margin-right: 5px;
  width: 500px;
  height: 30px;
}

.search button {
  margin: 0;
  color: white;
  background-color: #6445ff;
  border: none;
  cursor: pointer;
  padding: 12px;
  font-size: 18px;
  border-radius: 2px;
}

.search select {
  margin: 0 5px;
  background-color: #6445ff;
  color: white;
  padding: 12px;
  font-size: 18px;
  width: 90px;
  border-radius: 2px;
  border: none;
}

.books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin: 40px;
}

.book {
  width: 220px;
  transition: all 0.5s ease;
}

.book:hover {
  transform: scale(1.03);
}

span {
  color: #6445ff;
  font-weight: 500;
}

.book img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.book p {
  text-align: left;
  margin: 5px 10px;
}

.title {
  font-weight: bold;
}
