* {
	font-family: 'Roboto', sans-serif;
}

.container {
	background-color: white;
	height: 500px;
	display: grid;
	grid-template-rows: repeat(11, 1fr);
	grid-template-columns: repeat(3, 1fr); 
	grid-gap: 5px;
	text-align: center;
	width: 40%;
	color: white;
	grid-template-areas: 
	"header header header"
	"hero main main"
	"hero main main"
	"hero main main"
	"sidebar main main"
	"sidebar main main"
	"sidebar extra extra"
	"sidebar extra extra"
	"images images posts"
	"images images posts"
	"footer footer footer"
}


.box1 {
    background-color: #54d5eb; 
    /*grid-column: span 2;*/
    grid-area: header;
    padding: 10px;
}

.box2 {
    background-color: #d7c9e3;
    grid-area: hero;
    padding: 10px;
}

.box3 {
	background-color: #f5c632;
	/*grid-row: span 2;*/
	grid-area: main;
	padding: 10px;
}

.box4 {
	background-color: #9fc363;
	/*grid-row: span 2;*/
	grid-area: sidebar;
	padding: 10px;
}

.box5 {
	background-color: #8a8a8a;
	grid-area: extra;
	padding: 10px;
}

.box6 {
	background-color: #0cb969;
	/*grid-column: span 1.5;*/
	grid-area: images;
	padding: 10px;
}

.box7 {
	background-color: #f3ccde;
	grid-area: posts;
	padding: 10px;
}

.box8 {
    background-color: #ffa500;
    /*grid-column: span 2;
    grid-row: span 7;*/
    grid-area: footer;
    padding: 10px;
}

.box6, .box7 {
	/*grid-row: span 5;*/
}