* {
	box-sizing: border-box;
}	

.section {
	border: 3px solid black;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.box {
	background-color: lightblue;
	text-align: center;
	width: 100%;
	height: 32%;
	padding: 35px;
	color: white;
}

.box1, .box3 {
	width: 75%;
}